body 
{
    font-family: 'segoe ui light';
}
.item-caption
{
    left: 10%;
    bottom: 20px;
    background-color: #fff;
    text-align: center;
    width: 80%;
}
.item
{
    cursor: pointer;
    margin-top: 20px;
}

.lightbox-container
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}

.lightbox-item
{
    width: 50%;
    height: 500px;
    background-image: url(../images/portfolio-1.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.lightbox-item i 
{
    font-size: 1.2rem;
    margin: 0.5rem;
    cursor: pointer;
}

#close
{
    position: absolute;
    top: 10px;
    right: 10px;
}
/*  added section by team member  */
.item-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.caption{
    background-color: white;
    position: absolute;
    bottom: -50px;
    left:15px;
    right: 15px; 
    opacity: 0;
    text-align: center;
    transition: 0.5s all;
}
.item-img:hover .caption{
    opacity: 1;
    bottom: 15px;
}

#boxContainer{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    /* width:100% */
    /* height:100% */
}
#innerBox{
    width: 50%;
    height: 500px;
    background-image: url(../images/portfolio-1.jpg);
    background-size: cover !important;
    
     transform: scale(); 
}
#innerBox i{
    font-size: 25px;
    cursor: pointer;

}
